@media only screen and (min-width: 1px) {
  .container {
    grid-template-areas:
    "l"
    "p"
    "n"
    "g"
    "s"
    "i"
    "c"
    "z"
    "a"
    "f"
    "k"
    "r"
    "t"
    "j"
    "h"
    "m"
    "b"
    "q"
  }
}

@media only screen and (min-width: 420px) {
  .container {
    grid-template-areas:
    "l l l l"
    "p p p p"
    "n n n g"
    "s s i i"
    "s s i i"
    "c c c z"
    "c c c z"
    "a a a a"
    "f f f f"
    "f f f f"
    "k r r r"
    "t j j j"
    "h m m m"
    "b b b b"
    "q q q q"
  }
}

@media only screen and (min-width: 650px) {
  /* For mobile phones: */
  .container {
    grid-template-areas:
    "l l l l p p p"
    "n n i i c c z"
    "s s s q q q q"
    "a a g q q q q"
    "f f f q q q q"
    "f f f q q q q"
    "k r r q q q q"
    "k r r q q q q"
    "t j j q q q q"
    "t j j q q q q"
    "h m m q q q q"
    "h m m q q q q"
    "b b b q q q q"
    "b b b q q q q"   
  }
}

@media only screen and (min-width: 865px) {
  .container {
    grid-template-areas:
    "l l l l l n n n g q q q q q q"
    "l l l l l p p p p q q q q q q"
    "a a a a a a s s s q q q q q q"
    "f f f f f f i i i q q q q q q"
    "f f f f f f i i i q q q q q q"
    "k r r r r r c c z q q q q q q"
    "t j j j j j b b b q q q q q q"
    "h m m m m m b b b q q q q q q"
  }
}


@media print {
  /* Set the page size to letter size */
  @page {
    size: letter;
    margin: 0mm; /* Adjust margins as needed */
    padding: 0mm;
  }

  /* Ensure content fits within the letter-sized page */
  body {
    width: 100%;
    margin: 0mm;
    padding:  0mm;
  }

  /* Remove background colors and images */
  body, * {
    background: transparent !important; 
    box-shadow: none !important;
  }
  
  .button {
    display: none !important;
  }
  .noPrint {
    display: none !important;
  }

 .container {
    grid-template-areas:
    "l l l l p p p"
    "n n n i i z z"
    "s s s i i z z"
    "s s s i i c c"
    "a a g q q q q"
    "f f f q q q q"
    "f f f q q q q"
    "k r r q q q q"
    "k r r q q q q"
    "t j j q q q q"
    "t j j q q q q"
    "h m m q q q q"
    "h m m q q q q"
    "b b b q q q q"
    "b b b q q q q"   
 !important;
  }

}

body {
  font-family: serif;
  }

.noPrint {
    padding: 5px;
    margin: 10px;
}

.box {
    border: 3px solid black;
    padding: 5px;
  }

  .bottom {
    border-bottom: 1px solid black;
  }
  
  .red {
    border-color: red;
    color: red;
  }

.button {
  /*display: inline-block;*/
  width: auto;
  padding: 5px 5px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d680ec;
  border: none;
  border-radius: 15px;
  /*box-shadow: 0 9px #999;*/
}

.button:hover {background-color: #b35cca}

.button:active {
  background-color: #b35cca;
  transform: translateY(4px);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid black;
}


.logo {
  grid-area: l;
}

.charname {
  grid-area: n;
}

.charage {
  grid-area: g;
}

.pname {
  grid-area: p;
}

.story {
  grid-area: s;
}

.logo>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  line-height: 0;
}

.image {
  grid-area: i;
}

.archetype {
  grid-area: a;
}

.feature {
  grid-area: f;
}

.skill {
  grid-area: k;
}

.capacity {
  grid-area: c;
}

.money {
  grid-area: z;
}

.stress {
  grid-area: r;
}

.toughness {
  grid-area: t;
}

.injuries {
  grid-area: j;
}

.embarassment {
  grid-area: m;
}

.encumberance {
  grid-area: e;
}

.charm {
  grid-area: h;
}

.equipment {
  grid-area: q;
}

.badges {
  grid-area: b;
}

.ability {
  font-size: 2em;
}

.container {
  min-width: auto;
  max-width: 100%;
  width: auto;
  height: 100%;
  min-height: auto;
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 5px solid black;
  border-spacing: 5px;
  display: grid;
  grid-column-gap: 10px;
  grid-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.label {
    font-weight: bold;
}

.table-cell {
    display: table-cell;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.row {
    display: block;
}

.center {
    text-align: center;
}

ol {
    columns: 2;
    padding-left: 20px;
    margin: 0px;
}

